.root {
    -fx-base: #29c39f; /* mint green */
    -fx-font-size: 20;
    -fx-alignment: center;
}

.theme {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-font-size: 14px;
}

.split-pane {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-color: derive(-fx-base, 100%);
}

.text-dropshadow {
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(41,195,159,1.0) , 10, 0.0 , 0 , 1 );
    -fx-text-fill: derive(-fx-base, -60%);
    -fx-padding: 3 11 3 11;
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.error{
    -fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);
}

.hiddenButtonPane{
  -fx-alignment: center;
}

.actionPane{
  -fx-alignment: left;
}

.hiddenFilterPane{
  {
    -fx-alignment: CENTERl
    setStyle: -fx-spacing: 10;
  }
}
